body {
  background-color:#baafa3;
}

div {
  font-family: Arial, Helvetica, sans-serif;
}

.name {
  text-align: center;
  text-shadow: 2px 2px 5px gray;
}

.heading {
  text-align: center;
  text-shadow: 2px 2px 5px gray;
}

.image1 {
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #913328;
}

.paragraph {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 500px;
  margin-left: 500px;
  border: 3px solid #913328;
  background-color: lightgrey;
}

.column {
  width: 600px;
  float: left;
  border: 3px solid #913328;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 20px;
  margin-left: 120px;
  padding: 20px;
  box-sizing: border-box;
  background-color: lightgrey;
}

.column2 {
  width: 600px;
  float: left;
  border: 3px solid #913328;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: lightgrey;
}

.image2 {
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}